body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  
}
      .color{ color: black;
      
    
       
      }
      .color:hover{
          color: rebeccapurple;
      }
      .bco{
          background-color: royalblue;
      }
    .logo{
      
      height: 120px;
    }
     .navbar-light
     { height: 20vh;
         background-color: rgba(238, 205, 162, 0.466);
     }
     
     
     .c1{
         height: 500px;
        
     }
     .card-deck{
         height: 50px;
         padding-top: 200px;
         padding-bottom: 100vh;
     }
     .bg{
         height: 300px;
         color:white;
         background-image: url(footer.jpg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
        
     }
     .card-col{
         color: black;
     }
         
     .container h3{
        font-size: 20px;
     }
     .textn
     {
       padding-top: 20px;
     }
     
     .text2{
         padding-top: 30vh;
        
     }
     .text3{
       margin-bottom: 100px;

     }
     .pic2{
         height: 600px;
         width: 100%;

     }
     .card-group{
         padding-top:35vh;
     }
     .plus{
         padding-top: 30vh;
         padding-left:8vh;
     }
     
     .line{
         display: block;
         width: 600px;
         height: 1px;
         background-color: silver;
        position: absolute;
        right:55vh;
     }
     
.adv{
    padding-top: 20vh;
    margin-bottom: 100px;
}
     
     .pad{
         text-align: center;
     }
    #rima{
        height: 150px;
        width: 500px;
        
    }
   
    .adv{
        
        padding-top: 5px;
    }
    
    .team{
        padding-top: 20vh;
    }
    .ci{
        height: 30vh;
        width: 100%;
        
    }
    .im-size{
        width: 200px;
        height: 200px;
    }
    .last-bg{
      
       
      background: url(code.gif);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .last-c{
        background-color: rgba(0, 0, 0, 0.473);
        color: white;
        
        
    }
    .cal{
        color: rgba(255, 255, 255, 0.795);
        text-align: center;
       
        padding-top: 30px;
        
    }
    .semi-img{
        height: 150px;
        width: 200px;
    }
    footer p{
        color: #999;
        line-height: 25px;

    }
    footer h2, h3{
        color: #fff;

    }
    footer h2{
        font-size: 18px;
    }
    .footer-top{
        background: #111;
        widows: 2000px;
        padding: 80px 0;
       margin-left: -200px;
        
        background-size: 100%;
       
        
    }
    .segment-one{
        font-family: courgette;
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;

    }
    .segment-two{
        color: #fff;
        font-family: poppins;
        text-transform: uppercase;
    }
    .segment-two h2:before{
        content:'|';
        color: #c65039;
        padding-right:10px;

    }
    .segment-two ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .segment-two ul, li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
       line-height: 40px;
    }
    .segment-two ul,li, a{
color: #999;
text-decoration: none;
    }
    .segment-three h2{
        color: #fff;
        font-family: poppins;
        text-transform: uppercase;
    }
    .segment-three h2:before{
        content:'|';
        color: #c65039;
        padding-right:10px;

        }
        .segment-three a{
            background: #494848;
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 50%;
        }
        .segment-three a i{
            font-size: 20px;
           
            padding: 10px 12px;
            
        }
        .segment-four h2{
            color: #fff;
            font-family: poppins;
            text-transform: uppercase;
        }
        .segment-four h2:before{
            content:'|';
            color: #c65039;
            padding-right:10px;
    
            }
            .segment-four form input [type=submit]{
                background: #c65039;
                border: none;
                padding: 3px 15px;
                margin-left: -5px;
                color: #fff;
                text-transform: uppercase;
            }
            .footer-bottom-text{
                text-align: center;
                background: #000;
line-height: 75px;
            }

@media only screen and (min-width:768px) and (max-width: 991px){
  .md-mb-30{
      margin-bottom: 30px;
   
  @media  only screen and (max-width:767px)
.sm-mb-30{
    margin-bottom:30px;

}
.footer-top{
    padding:50px 0;
}
  }
.bottm-tx{
    width: 212vh;
}